.tableReport{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
td{
  padding-top:1px;
  padding-bottom:1px;
}
tbody, td{
  border: 1px solid #333;
  text-align: center;
}
.butn {
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
}
#name{
  text-align: left;
}
#type, #price{
  text-align: right;
}
