div > .navbar{
  height:74px;
  width:100%;
  margin: 0px;
  padding: 0px;
}
nav .brand-logo.right{
  padding-right: 3%;
  padding-top: 0.5%;
}
div > .navbar > li > .link {
  padding-top: 10%;
}
nav ul a {
  margin-left: 20%;
  margin-right: -20%;
}
nav ul a:hover {
  margin-left: 20%;
  margin-right: -20%;
}
